/* heading */
.heading {
  font: 500 1.5rem/1.5rem var(--body-font);
  opacity: 0.8;
  display: inline-block;
}

/* text */
.text-center {
  text-align: center;
}

/* button */
.btn,
.input {
  padding: 0.5rem 1rem;
  font: 500 1rem/1.5rem var(--body-font);
  background: transparent;
  border-radius: 0.15rem;
  outline: 0;
  border: none;
}
.btn {
  text-align: center;
  transition: all 0.3s ease;
  border: 1px solid rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
body.dark .btn {
  border-color: rgba(255, 255, 255, 0.3);
  color: var(--white);
}
.btn:hover,
.btn:focus {
  opacity: 0.8;
}
.btn.primary {
  color: var(--white);
  background: var(--blue);
  border-color: var(--blue);
}

.btn.light {
  background: var(--white);
}
body.dark .btn.light {
  background: var(--black);
}

/* Form */
.input.border {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.input.border:focus {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
body.dark .input.border {
  border-color: rgba(255, 255, 255, 0.3);
  color: var(--light-text-color);
}
body.dark .input.border:focus {
  border-color: rgba(255, 255, 255, 0.5);
}

/* layout */
.container {
  width: 100%;
  margin: auto;
  padding: 0.5rem;
}
@media screen and (min-width: 568px) {
  .container {
    width: 80%;
  }
}
@media screen and (min-width: 1366px) {
  .container {
    width: 60%;
  }
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.row.column {
  flex-direction: column;
}
.row.wrapReverse {
  flex-wrap: wrap-reverse;
}
.row.center {
  justify-content: center;
}
.row.between {
  justify-content: space-between;
}
.row.around {
  justify-content: space-around;
}
.row.evenly {
  justify-content: space-evenly;
}
.row.reverse {
  flex-direction: row-reverse;
}
.row.half > * {
  width: 100%;
}
.row.half > *:first-child {
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 568px) {
  .row.half > * {
    width: 49.5%;
  }
  .row.half > *:first-child {
    margin-bottom: 0;
  }
}

/* Navbar */
.navBar,
.footer {
  border: none;
  padding: 0.5rem 1rem;
  background: var(--light);
}
.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 1rem;
}
body.dark .footer,
body.dark .navBar {
  background: var(--dark);
}

/* topBar */
.topBar .filter .left {
  position: relative;
  width: 100%;
  margin-top: 1rem;
}
.topBar .filter .left > .btn {
  border: none !important;
  padding: 0.25rem;
}
.topBar .filter .left span {
  position: absolute;
  left: 7%;
  bottom: -0.2rem;
  height: 3px;
  width: 4rem;
  border-radius: 44px;
  background: var(--black);
  transition: all 0.3s ease;
}
body.dark .topBar .filter .left span {
  background: rgba(255, 255, 255, 0.5);
}
.topBar .filter .left.second span {
  left: 38%;
  width: 3rem;
}
.topBar .filter .left.third span {
  left: 65.5%;
  width: 2rem;
}
.topBar .filter .left.four span {
  left: 88%;
  width: 1rem;
}

.topBar .filter .right {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .topBar .filter .left {
    width: 20rem;
    margin-top: 0;
  }
  .topBar .filter .left > .btn {
    padding: 0.5rem;
  }
  .topBar .filter .right {
    width: 20rem;
  }
}
#filter {
  width: 100%;
}
/* Sticky note's */
.stickyNoteContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.stickyNote {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: 0.15rem;
  margin: 0.5rem;
}
body.dark .stickyNote {
  border-color: rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 568px) {
  .stickyNote {
    width: 20rem;
  }
}
.stickyNote div:first-child {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.stickyNote .option {
  margin-top: 0.5rem;
}
.stickyNote .option .btn {
  border: none;
  padding: 0.5rem;
  opacity: 1;
}
.stickyNote .option .btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.stickyNote .option .btn:hover i {
  transform: scale(1.2);
}
.stickyNote .dateTime {
  opacity: 0.5;
}

/* Drop down */
.drop {
  position: relative;
}
.drop .down {
  width: 11rem;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background: var(--white);
  transform: translate(-50%, -50%);

  top: 0%;
  z-index: -1;
  padding: 0;
  max-height: 0;
  visibility: hidden;
}
body.dark .drop .down {
  background-color: var(--dark);
}
.drop.active .down {
  opacity: 1;
  top: -180%;
  z-index: 99;
  padding: 0.25rem;
  max-height: 100rem;
  visibility: visible;
}
.drop .down::after {
  content: "";
  position: absolute;
  padding: 0.5rem;
  border: 1px solid;
  background: var(--white);
  transform: translate(-50%, -50%) rotate(45deg);
  left: 52.8%;
  bottom: -14.25%;
  z-index: -1;
  border-color: transparent rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) transparent;
}
body.dark .drop .down::after {
  background-color: var(--dark);
}
.drop .down span {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0.15rem;
  border-radius: 0.15rem;
  visibility: hidden;
}
body.dark .drop .down span {
  border-color: rgba(255, 255, 255, 0.1);
}
.drop.active .down span {
  visibility: visible;
}
.drop .down span:hover {
  transform: scale(1.1);
  border-color: rgba(0, 0, 0, 0.2);
}
